table {
    font-family: Impact, sans-serif;
    font-size: 30px;
    background-color: white;
    color: #3a2702;
}

td {
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background-color: gray;
}

tr:last-child td:nth-child(odd),
tr:first-child td:nth-child(even),
tr:nth-child(even) td:first-child,
tr:nth-child(odd) td:last-child {
    background-color: white;
}

td:last-child,
tr:first-child {
    transform: rotate(180deg);
}